.align-center {
  align-items: center;
}

.flex-box {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
  flex-grow: 1;
}

.inline-flex {
  display: inline-flex;
  flex-grow: 1;
}

.about-container{
  background-color: #FBDABB;
}

.hero-container {
  background-color: #495E57;
  color: #F4CE14;
}

.testimony-container {
  background-color: #333333;
  color: white;
}

.space-between{
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  background-color: #EDEFEE;
  margin: 0;
  padding: 1.7em 7em;
}

footer > ul {
  list-style: none;
  margin: 0;
  padding: 1em 7em;
}

nav {
  width: 100vw;

}

#nav-logo{
  width: 15em;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

.footer-link > a{
  text-decoration: none;
  color: black;
}

.footer-link {
  margin: .7em 0
}

.footer-list, .contact-info, .social-links{
  list-style: none;
}

h1 {
  font-family: PT Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
}

#navlinks {
  list-style: none;
  min-width: 30vw;
  max-width: 50vw;
}